[Unit]
Description=Snappy Core

[Service]
ExecStart=/bin/su root -c 'DEBUG=snappy:* node /usr/lib/node_modules/snappy-core/index.js'
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
